.popover {
    position: absolute;
    z-index: 9;
    width: 500px;
    border-radius: 10px;
    padding: 1rem;
    border: 1px solid var(--color-gray-dark);
    background-color: var(--color-gray-darker);
    max-height: 700px;
    overflow-y: auto;
    transition: opacity .2s ease;
}

.popover.open {
    opacity: 1;
}

.popover.hidden {
    opacity: 0;
    pointer-events: none;
}

.close {
    display: flex;
    justify-content: end;

    button {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: color .2s;

        * {
            width: 20px;
            height: 20px;
        }
    }

    button:hover {
        color: var(--color-gray);
    }
}

@media (max-width: 768px) {
    .popover {
        position: fixed;
        width: 100%;
        top: unset !important;
        bottom: var(--sidebar-width) !important;
        left: 0 !important;
        border-radius: 0;
        max-height: none;
        transition: height .3s ease;
    }

    .popover.open {
        height: calc(100% - var(--navbar-height) - var(--sidebar-width))
    }

    .popover.hidden {
        height: 0;
        overflow: hidden;
        opacity: unset;
    }
}