.container {
    display: flex;
    align-items: center;
    width: 100%;
    gap: .7rem;
    cursor: default;
}

.score {
    font-weight: 700;
    font-size: var(--font-size);
    color: var(--font-color);
}

.bar {
    flex: 1;
    height: var(--thickness);
    background-color: var(--color-gray-dark);
    border-radius: 2rem;
}

.fill {
    height: 100%;
    border-radius: 2rem;
}