.placeholder, .sidebar {
    width: var(--sidebar-width);
    height: calc(100vh - var(--navbar-height));
}

.sidebar {
    position: absolute;
    z-index: 10;
    padding: 1rem .7rem;
    border-right: 1px solid var(--color-gray);
    transition: width 0.3s ease;
    background-color: var(--color-gray-darkest);
    overflow-x: hidden;
}

.sidebar:hover {
    width: 240px;
}

@media (max-width: 768px) {
    .placeholder, .sidebar {
        height: var(--sidebar-width);
        width: 100vw;
    }

    .sidebar {
        display: flex;
        gap: 1rem;
        align-items: center;
        padding: .7rem 1rem;
        transition: none;
        border-top: 1px solid var(--color-gray);
        border-right: none;
    }

    .sidebar:hover {
        width: 100vw;
    }
}