.score {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    * {
        outline: none;
    }

    h3 {
        font-size: 1.3rem;
        margin: 1.5rem 0 1rem 0;
        font-weight: 400;
        color: var(--color-purple-lighter);
    }

    h4 {
        font-weight: 400;
        font-size: 1rem;
        color: var(--color-purple-lighter);
    }
}

.container {
    padding: .7rem;

    h1 {
        font-weight: 500;
        font-size: 1.75rem;
        border-bottom: 1px solid var(--color-gray-dark);
    }

    h2 {
        font-weight: 500;
        font-size: 1.3rem;
    }

    .link {
        color: var(--color-purple-dark);
        transition: color .2s;
        font-weight: 500;
    }

    .link:hover {
        color: var(--color-purple-lighter);
    }

    ul {
        list-style-position: inside;
    }
}

@media (max-width: 768px) {
    .score {
        h3 {
            font-size: 1rem;
        }

        h4 {
            font-size: .9rem;
            line-height: 1.3rem;
        }
    }
}