.layout {
    display: flex;
}

@media (max-width: 768px) {
    .layout {
        flex-direction: column-reverse;
    }

    .content {
        border-top: 1px solid var(--color-gray);
        height: calc(100vh - var(--navbar-height) - var(--sidebar-width));
    }
}