.navbar {
    width: 100%;
    height: var(--navbar-height);
    position: sticky;
    top: 0;
    left: 0;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    color: var(--color-gray-lightest);
    z-index: 10;
}

.brand {
    height: var(--navbar-height);
    padding: 0 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
        height: 24px;
        image-rendering: pixelated;
    }

    span {
        font-weight: 600;
    }
}

@media (min-width: 768px) {
    .navbar {
        background-color: var(--color-gray-darker);
        backdrop-filter: blur(10px);
        border-bottom: 1px solid var(--color-gray);
        padding: 0 32px;
    }
}