.header {
    text-align: center;
    margin: 1rem 0 5rem 0;
    font-size: 2.5rem;
}

.inputContainer {
    padding: 1rem 0;

    label {
        padding: 0 .3rem;
    }

    input {
        width: 100%;
        background: transparent;
        border: none;
        outline: none;
        color: var(--color-purple-light);
        font-size: 1rem;
        padding: 0 .3rem .3rem .3rem;
        border-bottom: 2px solid var(--color-gray-lightest);
    }

    .error {
        font-size: .8rem;
        font-weight: 500;
        color: var(--color-red-neon);
        text-shadow: 0 0 8px var(--color-red-neon);
        padding: 0 .3rem;
    }
}

.submit {
    text-align: center;
    font-size: 1.2rem;
    width: 100%;
    height: 3rem;
    border-radius: 9999px;
    color: var(--color-gray-darkest);
    background-color: var(--color-gray-lighter);
    transition: background-color 0.3s ease;
}

.submit:hover {
    background-color: var(--color-purple-light);
}

.submit:disabled {
    background-color: var(--color-gray);
    cursor: not-allowed;
}

.backendError {
    margin-top: 1rem;
    color: var(--color-red-neon);
    font-weight: 500;
    text-shadow: 0 0 8px var(--color-red-neon);
    text-align: center;
}

.redirectWrapper {
    margin-top: 1rem;
    text-align: center;

    .redirect {
        margin-left: .4rem;
        color: var(--color-blue);
        transition: color 0.2s;
    }

    .redirect:hover {
        color: var(--color-blue-darker);
    }
}