.progress {
    position: relative;
    width: var(--diam);
    height: var(--diam);
    border-radius: 50%;
    background: conic-gradient(var(--clr) calc(var(--i) * 3.6deg), var(--color-gray-dark) 0deg);
}

.progress::before {
    content: '';
    display: block;
    height: 100%;
    margin-left: 50%;
    transform-origin: left;
    border-radius: 0 100% 100% 0/50%;
}

.progress::after {
    content: '';
    position: absolute;
    inset: var(--thickness);
    border-radius: 50%;
    background: var(--color-gray-darker);
}

.text {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--diam);
    height: var(--diam);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .2rem;
    color: var(--font-color);
    cursor: default;
}

.value {
    font-size: 1.5rem;
    z-index: 1;
    font-weight: 600;
}

.description {
    font-size: var(--font-size);
    z-index: 1;
    font-weight: 400;
    text-align: center;
}